#### Exercício 1 - Problema do XOR

In [1]:
# 1- Importar o modelo MLP do sklearn
from sklearn.neural_network import MLPClassifier
import numpy as np

x = np.array([[0, 0], [0, 1], [1, 0], [1, 1]])
y = np.array([0, 1, 1, 0])

In [2]:
# 2- Instanciar o modelo escolhendo uma topologia para a rede, função de ativação e número de épocas de execução até 100% de acerto
model = MLPClassifier(hidden_layer_sizes=(4,3), activation='relu',max_iter=5000)

In [3]:
# 3- Treinar o modelo com os dados de treinamento
model = model.fit(x, y)

In [4]:
# 4- Fazer o predict com os dados de treinamento
pred_y = model.predict(x)
pred_y

array([0, 1, 1, 0])

In [5]:
# 5- Comparar o resultado do predict com o vetor y
y

array([0, 1, 1, 0])

#### Exercício 2 - Dataset Parkinsons

In [7]:
# 1- Carregar a base de dados Parkinsons
url = "https://raw.githubusercontent.com/tmoura/machinelearning/master/parkinsons.data"

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import metrics

dataset = pd.read_csv(url, header=None)
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,2,119.992,157.302,74.997,0.00784,0.00007,0.00370,0.00554,0.01109,0.04374,...,0.02971,0.06545,0.02211,21.033,0.414783,0.815285,-4.813031,0.266482,2.301442,0.284654
1,2,122.400,148.650,113.819,0.00968,0.00008,0.00465,0.00696,0.01394,0.06134,...,0.04368,0.09403,0.01929,19.085,0.458359,0.819521,-4.075192,0.335590,2.486855,0.368674
2,2,116.682,131.111,111.555,0.01050,0.00009,0.00544,0.00781,0.01633,0.05233,...,0.03590,0.08270,0.01309,20.651,0.429895,0.825288,-4.443179,0.311173,2.342259,0.332634
3,2,116.676,137.871,111.366,0.00997,0.00009,0.00502,0.00698,0.01505,0.05492,...,0.03772,0.08771,0.01353,20.644,0.434969,0.819235,-4.117501,0.334147,2.405554,0.368975
4,2,116.014,141.781,110.655,0.01284,0.00011,0.00655,0.00908,0.01966,0.06425,...,0.04465,0.10470,0.01767,19.649,0.417356,0.823484,-3.747787,0.234513,2.332180,0.410335

In [8]:
# 2- Normalizar todas as colunas (normalizar é deixar todos os valores das colunas entre 0 e 1)
from sklearn.preprocessing import MinMaxScaler

for column in dataset.columns:
    dataset[column] = MinMaxScaler().fit_transform(np.array(dataset[column]).reshape(-1,1))

In [9]:
# 3- Separar o dataset em X (matriz de features) e y (coluna target)
columns = len(dataset.columns)

y = dataset[0] # extrai a primeira coluna, que é o label
X = dataset.loc[:,1:columns-1]

In [10]:
# 4- Gerar as bases de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y) # 80% treino e 20% teste

In [11]:
# 5- Importar o modelo MLP do sklearn
from sklearn.neural_network import MLPClassifier

In [12]:
# 6- Instanciar o modelo escolhendo uma topologia para a rede, função de ativação e número de épocas de execução até que obtenha uma taxa de acerto estável
model = MLPClassifier(hidden_layer_sizes=(20,10), activation='tanh',max_iter=2000)

In [13]:
# 7- Treinar o modelo com os dados de treinamento
model = model.fit(X_train, y_train)

In [14]:
# 8- Fazer o predict com os dados de teste
result = model.predict(X_test)

In [15]:
# 9- Imprimir o percentual de acerto da base de teste
acc = metrics.accuracy_score(result, y_test)
show = round(acc * 100)
print("{}%".format(show))

85%

#### Exercício 3 - Dataset Penguins

In [17]:
# 1- Carregar a base de dados Penguins da API do Seaborn
from seaborn import load_dataset
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd

# Carregar base de dados
df = load_dataset('penguins')
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [18]:
# 2- A base precisará ser tratada: Existem valores nulos e dados categóricos
df = df.dropna()

column_transformer = make_column_transformer((OneHotEncoder(), ['island','sex']), remainder='passthrough')
df = column_transformer.fit_transform(df)
df = pd.DataFrame(data=df)
df.head()

     0    1    2    3    4       5     6     7      8       9
0  0.0  0.0  1.0  0.0  1.0  Adelie  39.1  18.7  181.0  3750.0
1  0.0  0.0  1.0  1.0  0.0  Adelie  39.5  17.4  186.0  3800.0
2  0.0  0.0  1.0  1.0  0.0  Adelie  40.3  18.0  195.0  3250.0
3  0.0  0.0  1.0  1.0  0.0  Adelie  36.7  19.3  193.0  3450.0
4  0.0  0.0  1.0  0.0  1.0  Adelie  39.3  20.6  190.0  3650.0

In [20]:
# 3- Normalizar todas as colunas (normalizar é deixar todos os valores das colunas entre 0 e 1) --> Redes Neurais são sensíveis as diferenças escalares de valores das features
label_encoder = LabelEncoder()
df[5]= label_encoder.fit_transform(df[5])

df[6] = MinMaxScaler().fit_transform(np.array(df[6]).reshape(-1,1))
df[7] = MinMaxScaler().fit_transform(np.array(df[7]).reshape(-1,1))
df[8] = MinMaxScaler().fit_transform(np.array(df[8]).reshape(-1,1))
df[9] = MinMaxScaler().fit_transform(np.array(df[9]).reshape(-1,1))
df.head()

     0    1    2    3    4  5         6         7         8         9
0  0.0  0.0  1.0  0.0  1.0  0  0.254545  0.666667  0.152542  0.291667
1  0.0  0.0  1.0  1.0  0.0  0  0.269091  0.511905  0.237288  0.305556
2  0.0  0.0  1.0  1.0  0.0  0  0.298182  0.583333  0.389831  0.152778
3  0.0  0.0  1.0  1.0  0.0  0  0.167273  0.738095  0.355932  0.208333
4  0.0  0.0  1.0  0.0  1.0  0  0.261818  0.892857  0.305085  0.263889

In [21]:
# 4- Separar o dataset em X (matriz de features) e y (coluna target)
y = df[5]
X = df.drop(5, axis=1)

In [22]:
# 5- Gerar as bases de treinamento e teste
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=None, stratify=y) # 80% treino e 20% teste

In [23]:
# 6- Importar o modelo MLP do sklearn
# 7- Instanciar o modelo escolhendo uma topologia para a rede, função de ativação e número de épocas de execução até que obtenha uma taxa de acerto estável
model = MLPClassifier(hidden_layer_sizes=(10,5), activation='tanh',max_iter=500)

In [24]:
# 8- Treinar o modelo com os dados de treinamento
model.fit(X_train, y_train)

/home/jhonatan/.local/lib/python3.10/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPClassifier(activation='tanh', hidden_layer_sizes=(10, 5), max_iter=500)

In [25]:
# 9- Fazer o predict com os dados de teste
result = model.predict(X_test)

In [26]:
# 10- Imprimir o percentual de acerto da base de teste
from sklearn import metrics

acc = metrics.accuracy_score(result, y_test)
show = round(acc * 100)
print("{}%".format(show))

100%

#### Exercício 4 - Dataset Phoneme

In [27]:
# 1- Carregar a base "phoneme"
url = "https://raw.githubusercontent.com/tmoura/machinelearning/master/phoneme.data"

import pandas as pd

dataset = pd.read_csv(url, header=None)
dataset.head()

   0        1        2        3         4         5
0  2  1.23970  0.87453 -0.20511 -0.078137  0.066867
1  2  0.26828  1.35180  1.03510 -0.331520  0.216900
2  2  1.56660  0.86744  1.29980  1.041300  0.559410
3  2  0.27930  0.98963  2.55480 -0.737990  0.000000
4  2  0.30681  1.27240  2.65560 -0.946160 -0.467140

In [29]:
# 2- A coluna 0 é o target
# 3- Todas as colunas são numéricas e não possui valores nulos
# 4- Separar o dataset em X (matriz de features) e y (coluna target)
columns = len(dataset.columns)
y = dataset[0] # extrai a primeira coluna, que é o label
X = dataset.loc[:,1:columns-1]

In [30]:
# 5- Gerar as bases de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y) # 80% treino e 20% teste

In [31]:
# 6- Importar o modelo MLP do sklearn
# 7- Instanciar o modelo escolhendo uma topologia para a rede, função de ativação e número de épocas de execução até que obtenha uma taxa de acerto estável
model = MLPClassifier(hidden_layer_sizes=(20,10), activation='tanh',max_iter=2000)

In [32]:
# 8- Treinar o modelo com os dados de treinamento
model = model.fit(X_train, y_train)

In [33]:
# 9- Fazer o predict com os dados de teste
result = model.predict(X_test)

In [34]:
# 10- Imprimir o percentual de acerto da base de teste
acc = metrics.accuracy_score(result, y_test)
show = round(acc * 100)
print("{}%".format(show))

86%